body {
    background-color: #888;
    background-image: url("background.png");
	background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
}

#survey-div {
    background-color: #888;
    opacity: 0.95;
    padding: 20px;
}
